<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
  <% if(!user_id){ %>
  <a href="/register"><button>To Register</button></a>
  <a href="/login"> <button>To Log In</button> </a>
  <% } else { %>
  <form method="POST" action="/Logout">
  <input type="submit" value ='Logout'/>
  <h1> <%= user_id %> </h1>
  <% } %>
</head>