<!DOCTYPE html>
<html>
<head>
  <title>T</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,600" rel="stylesheet">
  <link rel="stylesheet" href="/style/main.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  <nav id="nav-bar">
   <a id="titleLink" href="/urls"><h1 id="title">TinyApp</h1></a>
   <ul id="loginRegisterButtons">
    <% if(!user_id){ %>
      <a href="/register"><button id="register3">To Register</button></a>
      <a href="/login"> <button id="login3">To Log In</button> </a>
    <% } else { %>
      <li id="userProfile">
      <i class="fa fa-user" aria-hidden="true"></i>
      <p id="userid">  <%= user_id %> </p>  
      </li>
      <form method="POST" action="/Logout">
      <input id="logout" type="submit" value ='Logout'/>
      </form>
    <% } %>
   </ul>
  </nav>
</head>