<!DOCTYPE html>
<html>
<head>
  <title>T</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
  <link rel="stylesheet" href="style/main.css" type="text/css" />

  <nav id="nav-bar">
   <h1 id="title">TinyApp</h1>
   <ul id="loginRegisterButtons">
    <% if(!user_id){ %>
      <a href="/register"><button id="register3">To Register</button></a>
      <a href="/login"> <button id="login3">To Log In</button> </a>
    <% } else { %>
      <form method="POST" action="/Logout">
      <input type="submit" value ='Logout'/>
      </form>
    </ul>
    <p id="userid"> User: <%= user_id %> </p> 
   <% } %>
  </nav>
</head>