html, body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

input[type=submit] {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  padding-right: 0;
  width: 160px;
  height: 20px;
  border: 1px #000 solid;
  text-align: center;
  background-color: #fff;
}

input[type=email1] {
  font-family: 'Josefin Sans', sans-serif;
  width: 300px;
  height: 25px;
  margin: 5px 0 10px 0;
}

input[type=password1] {
  font-family: 'Josefin Sans', sans-serif;
  width: 300px;
  height: 25px;
  margin: 5px 0 15px 0 ;
}

input[type=password2] {
  font-family: 'Josefin Sans', sans-serif;
  width: 300px;
  height: 25px;
  margin: 5px 0 15px 0 ;
}

input[type=email2] {
  font-family: 'Josefin Sans', sans-serif;
  width: 300px;
  height: 25px;
  margin: 5px 0 10px 0;
}

#nav-bar {
  background-color: #E3E3E3;
  color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding-left: 1em;
  padding-right: 5em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#loginRegisterButtons {
  display: inline-block;
  margin: 0 50px;
  display: flex;
  width: 200px;
  justify-content: space-around;

}

#register3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  border: none;
  background-color: #E3E3E3;
}

#login3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  border: none;
  background-color: #E3E3E3;
}

#listOfUrls {
  margin-top: 100px;
}

#userid {
  display: inline-block;
  margin: 100px 50px 20px 10px;
}
