<!DOCTYPE html>
<html>
<head>
  <title></title>
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
   <link rel="stylesheet" href="style/main.css" type="text/css" />
</head>
<body>
<h1 id="message">Login</h1>
 <form method="POST" action="/Login">
    <label id="login1">Email Address*:</label> <br/>
    <input name='Email' type = 'email2'/> <br/>
    <label id="login2">Password*:</label> <br/>
    <input name='Password' type ='password2'/> <br/>
    <input type="submit" value = 'Login'/>
  </form>
</body>
<html>
