<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Hello there, please log in!</h1>
 <form method="POST" action="/Login">
    <label>Email</label>
    <input name='Email' type = 'email'/> <br/>
    <label>Password</label>
    <input name='Password' type ='password'/> <br/>
    <input type="submit" value = 'Login'/>
  </form>
</body>
<html>
