<!DOCTYPE html>
<html>
<head>
  <title>Tinyapp</title>
</head>
<body>
<h1>Hello there, please create an account!</h1>
  <form method='POST' action='/register'>
    <label> Email: </label>
    <input name='Email' type ='email' /><br />
    <label> Password: </label>
    <input name='Password' type ='password' /><br />
    <input type='submit' value ='Submit' />
  </form>
</body>
</html>