<!DOCTYPE html>
<html>
<head>
  <title>Tinyapp</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
   <link rel="stylesheet" href="style/main.css" type="text/css" />
</head>
<body>
<h1 id="register">Create an account</h1>
  <form method='POST' action='/register'>
    <label id="register1"> Email Address*: </label> <br />
    <input name='Email' type ='email1' /><br />
    <label id="register2"> Password*: </label> <br />
    <input name='Password' type ='password1' /><br />
    <input type='submit' value ='Register' />
  </form>
</body>
</html>